<!-- Div to create space at the top of the page-->
<div id="spacer">
  <p></p>
</div>

<div class="container rounded shadow-lg" id="recipeCreationFormContainer" >
  <h1>Complete the form below to add your recipe!</h1>
  <hr>

  <form>
    <label class="blockLabel" for="name">Recipe Name</label>
    <input [(ngModel)]="name" type="text" name="name" id="name" required>
    <br>

  </form>
</div>

<form>
  <label for="name">Recipe Name</label>
  <input [(ngModel)]="name" type="text" name="name" id="name" required>
  <br>
  <label for="steps">Steps</label>
  <textarea [(ngModel)]="steps" (change)="generateStepsList()" name="steps" id="steps" required></textarea>
  <br>
  <label for="ingredients">Ingredients</label>
  <textarea [(ngModel)]="ingredients" (change)="generateIngredientList()" name="ingredients" id="steps" required></textarea>
  <br>
  <button class="btn btn-primary" (click)="createRecipe()">Submit</button>
  <a class="btn btn-secondary" routerLink="../home">Back</a>
</form>
<ol *ngIf="steps != undefined">
  <h6>Steps</h6>
  <li *ngFor="let s of stepList">{{s}}</li>
</ol>
<ol *ngIf="ingredients != undefined">
  <h6>Ingredients</h6>
  <li *ngFor="let i of ingredientsList">{{i}}</li>
</ol>


