<h1>Welcome {{ currentUser.fName }} {{ currentUser.lName }}</h1>

<a class="btn" routerLink="../create-recipe">Create Recipe</a>

<!-- edit info
create recipe page
view all recipe page

*Edit Recipe
*Edit User info
-->
<div *ngIf="recipes != undefined">

</div>

<div *ngIf="recipes != undefined">
    <ol>
        <li *ngFor="let rec of recipes" >
            <p>{{rec.name}}</p>
            <p>{{rec.steps}}</p>
            <p>{{rec.ingredients}}</p>
            <p>{{rec.score}}</p>
        </li>
    </ol>
</div>
<button class="btn btn-secondary" (click)="logout()">Logout</button>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div *ngIf="recipes != undefined">

</div>