
<div class="fullPage">
<div *ngIf="savedRecipes != undefined">
  <div class="card recipes" style="width: 20rem;" *ngFor="let rec of savedRecipes | onlyVisibleRecipes: true">
      <div class="card-body">
          <h5 class="card-title">{{ rec.name }}</h5>
          <br>
          <h6 class="card-subtitle">Recipe Score: {{ rec.score }}</h6>
          <br>
          <h6 class="card-subtitle">Items Required: </h6>
          <h6>{{ rec.ingredients }}</h6>
          <br>
          <p><strong>Steps: </strong></p>
          <p>{{ rec.steps }}</p>
          <p> ID: {{rec.recipeId}}</p>
      </div>
      <button class="btn" (click)="save(rec)">Cancel</button>
  </div>
</div>
</div>