<h1>Enjoy Cooking</h1>
<h3>Browse hundreds of recipes</h3>

  


<br>

<div>

  <ul>
    <li *ngFor="let user of users">{{ user.fName }}</li>
  </ul>
  
  <form>
    <label for="username">Username</label>
    <input [(ngModel)]="username" type="text" name="username" placeholder="username" id="username" required>
    <br>
    <label for="password">Password</label>
    <input [(ngModel)]="password" type="password" name="password" id="password" required>
    <button class="btn btn-primary" (click)="login()">Submit</button>
  </form>
  <p>{{password}} + {{username}}</p>
</div>