<h1>Enjoy Cooking</h1>
<h3>Browse hundreds of recipes</h3>

<div>
    <button type="button" class="btn btn-primary mx-2">Login</button>
    <button type="button" class="btn btn-primary mx-2">Sign Up</button>
</div>

<br>

<div>
  <form action="">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" id="username" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </form>
</div>