#spacer{
    padding-top: 20px;
}

#registerFormContainer{
   /* background-color: rgba(227,226,204, .50); */
    background-color: white;
    padding-top: 10px;
    color: #585155;
    width: 65%;
}

#registerFormContainer h1{
    font-size: 1.5rem;
    padding: 10px 0;
}

.blockLabel{
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .85rem;
   /* text-align: left; */
}

#registerFormContainer input{
    
}